.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#homeImg {
  width: 70%;
}

.metronome {
  position: relative;
  border: 3px solid #000000;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 50px;
  width: 12.5%;
  padding-top: 50px;
  margin-left: 40%;
}

.main-container {
  position: sticky;
  background-color: #f8f8f8;
  top: 0;
  z-index: 10;
}
#nav {
  width: 100%;
}
.nav-bar-container {
  display: flex;
  justify-content: space-between;
  padding: 1em 1.5em 0em 1.5em;
  background-color: #f8f8f8;
}
#main-title {
  margin: 0.5em 0;
  text-align: center;
}

.nav-bar-routes {
  margin: 0 12.5px;
  align-items: right;
}

.nav-bar-routes:hover {
  border-bottom: 2px solid black;
  transition: border-bottom 0.15s;
  margin: 0 12.5px;
}

.nav-bar-routes-container {
  display: flex;
}

#defaultTrumpetImg {
  max-width: 100%;
  height: auto;
}
div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 65%;
}
#imageDiv {
  margin: auto;
  max-width: 80%;
  padding-top: 90px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.8);
}
#chromaticNotes {
  max-width: 100%;
  height: auto;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding-left: 100px;
  padding-right: 100px;
  margin-left: 100px;
  margin-right: 100px;
}
.item {
  width: 17%;
  padding-bottom: 1%;
  margin-bottom: 1%;
  margin-top: 5%;
}
#noteImg {
  max-height: 100px;
  max-width: 90%;
}
button {
  display: flex;
  justify-content: center;
}

#pageGoals {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
ul {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  width: 100%;
}
li {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  width: 95%;
}
#container {
  margin: auto;
  display: flex;
  background: rgba(0, 0, 0, 0.5);
  padding: 0 0 0px 10px;
  max-width: 500px;
}
p {
  color: black;
  font-size: 18px;
}
#bpmButton {
  width: 100%;
}
#musicStandDiv {
}
#musicStandDiv .container {
  position: relative;
  background: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fa.1stdibscdn.com%2FarchivesE%2Fupload%2F1121189%2Ff_58962631478609847977%2F5896263_z.jpg&f=1&nofb=1);
  background-size: 1050px;
  min-height: 650px;
  background-repeat: no-repeat;
  background-position: center top;
  padding: 40px 0;
}
#musicStand {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
}

#startAndStopButtons {
  display: flex;
  flex-direction: row;
}
form {
  width: auto;
}
#practiceRoomMetronome {
  position: fixed;
  margin-top: 100px;
  top: 0;
  right: 0;
  width: 300px;
}
.react-pdf__Page__canvas {
  display: block;
  user-select: none;
  width: 100% !important;
  height: 100% !important;
}
.react-pdf__Page {
  transition: 0.3s transform;
  cursor: pointer;
}
.react-pdf__Page:hover {
  transform: scale(2.5) translateY(50px);
}

.pdf-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 20px;
  margin: auto;
  width: 200px;
  height: 200px;
}
